.list_order{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background: white;
}

.listorder_format_main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0;
    color:#454545;
    font-size: 15px;
    font-weight: 600;
}

.listorder_format{
    align-items: center;
    font-weight: 500;
}

.listorder_order_icon{
    height: 80px;
}

.listorder_view_icon{
    cursor: pointer;
    margin: auto;
    width:50%;
    border-radius: 25%;
}
.listorder_allorders{
    overflow-y: auto;
}

@media(max-width:800px){
    .list_order{
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }
    .listorder_format_main{
        padding: 15px 0;
        color:#454545;
        font-size: 12px;
    }
    .listorder_order_icon{
        height: 60px;
    }
 

}